In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType, DateType

schema = StructType([
    StructField("Invoice ID", StringType(), True),
    StructField("Branch", StringType(), True),
    StructField("City", StringType(), True),
    StructField("Customer type", StringType(), True),
    StructField("Gender", StringType(), True),
    StructField("Product line", StringType(), True),
    StructField("Unit price", FloatType(), True),
    StructField("Quantity", IntegerType(), True),
    StructField("Tax 5%", FloatType(), True),
    StructField("Total", FloatType(), True),
    StructField("Date", StringType(), True),  # Will convert to DateType later
    StructField("Time", StringType(), True),
    StructField("Payment", StringType(), True),
    StructField("cogs", FloatType(), True),
    StructField("gross margin percentage", FloatType(), True),
    StructField("gross income", FloatType(), True),
    StructField("Rating", FloatType(), True)
])

loading the data using the spark session

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("RetailSales").getOrCreate()

df = spark.read.csv("/content/supermarket_sales - Sheet1.csv", header=True, schema=schema)
df.show(5)

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|     Date| Time|    Payment|  cogs|gross margin percentage|gross income|Rating|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
|750-67-8428|     A|   Yangon|       Member|Female|   Health and beauty|     74.69|       7|26.1415|548.9715| 1/5/2019|13:08|    Ewallet|522.83|              4.7619047|     26.1415|   9.1|
|226-31-3081|     C|Naypyitaw|       Normal|Female|Electronic access...|     15.28|       5|   3.82|   80.22| 3/8/2019|10:29|       Cash|  76.4|              4.7619047|        3.82|   9.6|
|631-41-3108|     A|   Yangon|       Normal|  Male|  Home and lifestyle|     46.33|       7|16.2155|340.5255| 3/3/2019|13:23|Credit card|324.31|              4.7619047|     16.2155|   7.4|
|123-19-1176|     A|   Yangon|       Member|  Male|   Health and beauty|     58.22|       8| 23.288| 489.048|1/27/2019|20:33|    Ewallet|465.76|              4.7619047|      23.288|   8.4|
|373-73-7910|     A|   Yangon|       Normal|  Male|   Sports and travel|     86.31|       7|30.2085|634.3785| 2/8/2019|10:37|    Ewallet|604.17|              4.7619047|     30.2085|   5.3|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
only showing top 5 rows

Drop duplcates

In [ ]:
df = df.drop_duplicates()
df.show(15)

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|     Date| Time|    Payment|  cogs|gross margin percentage|gross income|Rating|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
|563-91-7120|     A|   Yangon|       Normal|Female| Fashion accessories|     61.77|       5|15.4425|324.2925| 3/8/2019|13:21|       Cash|308.85|              4.7619047|     15.4425|   6.7|
|633-09-3463|     C|Naypyitaw|       Normal|Female|Electronic access...|     47.65|       3| 7.1475|150.0975|3/28/2019|12:58|Credit card|142.95|              4.7619047|      7.1475|   9.5|
|689-16-9784|     C|Naypyitaw|       Normal|  Male|  Food and beverages|     46.77|       6| 14.031| 294.651|3/11/2019|13:37|       Cash|280.62|              4.7619047|      14.031|   6.0|
|676-39-6028|     A|   Yangon|       Member|Female|Electronic access...|     64.44|       5|  16.11|  338.31|3/30/2019|17:04|       Cash| 322.2|              4.7619047|       16.11|   6.6|
|816-72-8853|     A|   Yangon|       Member|Female|   Sports and travel|     27.93|       5| 6.9825|146.6325|1/29/2019|15:48|       Cash|139.65|              4.7619047|      6.9825|   5.9|
|191-10-6171|     B| Mandalay|       Normal|Female| Fashion accessories|     39.62|       7| 13.867| 291.207|1/25/2019|13:18|       Cash|277.34|              4.7619047|      13.867|   7.5|
|144-51-6085|     A|   Yangon|       Member|  Male|  Home and lifestyle|     70.74|       4| 14.148| 297.108| 1/5/2019|16:05|Credit card|282.96|              4.7619047|      14.148|   4.4|
|261-12-8671|     B| Mandalay|       Normal|Female| Fashion accessories|     60.96|       2|  6.096| 128.016|1/25/2019|19:39|Credit card|121.92|              4.7619047|       6.096|   4.9|
|133-14-7229|     C|Naypyitaw|       Normal|  Male|   Health and beauty|     62.87|       2|  6.287| 132.027| 1/1/2019|11:43|       Cash|125.74|              4.7619047|       6.287|   5.0|
|832-51-6761|     A|   Yangon|       Normal|  Male|  Food and beverages|     33.88|       8| 13.552| 284.592|1/19/2019|20:29|    Ewallet|271.04|              4.7619047|      13.552|   9.6|
|852-82-2749|     A|   Yangon|       Normal|  Male|   Sports and travel|     64.59|       4| 12.918| 271.278| 1/6/2019|13:35|    Ewallet|258.36|              4.7619047|      12.918|   9.3|
|544-32-5024|     C|Naypyitaw|       Member|Female|  Food and beverages|     49.79|       4|  9.958| 209.118|3/28/2019|19:16|Credit card|199.16|              4.7619047|       9.958|   6.4|
|188-55-0967|     B| Mandalay|       Member|  Male|   Health and beauty|     66.47|      10| 33.235| 697.935|1/15/2019|15:01|Credit card| 664.7|              4.7619047|      33.235|   5.0|
|183-21-3799|     C|Naypyitaw|       Normal|Female|Electronic access...|     77.63|       9|34.9335|733.6035|2/19/2019|15:14|    Ewallet|698.67|              4.7619047|     34.9335|   7.2|
|787-56-0757|     C|Naypyitaw|       Member|Female|  Food and beverages|     80.36|       4| 16.072| 337.512|2/23/2019|18:45|Credit card|321.44|              4.7619047|      16.072|   8.3|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
only showing top 15 rows

In [ ]:
df = df.drop("gross margin percentage")
df.show()

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+------------+------+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|     Date| Time|    Payment|  cogs|gross income|Rating|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+------------+------+
|563-91-7120|     A|   Yangon|       Normal|Female| Fashion accessories|     61.77|       5|15.4425|324.2925| 3/8/2019|13:21|       Cash|308.85|     15.4425|   6.7|
|633-09-3463|     C|Naypyitaw|       Normal|Female|Electronic access...|     47.65|       3| 7.1475|150.0975|3/28/2019|12:58|Credit card|142.95|      7.1475|   9.5|
|689-16-9784|     C|Naypyitaw|       Normal|  Male|  Food and beverages|     46.77|       6| 14.031| 294.651|3/11/2019|13:37|       Cash|280.62|      14.031|   6.0|
|676-39-6028|     A|   Yangon|       Member|Female|Electronic access...|     64.44|       5|  16.11|  338.31|3/30/2019|17:04|       Cash| 322.2|       16.11|   6.6|
|816-72-8853|     A|   Yangon|       Member|Female|   Sports and travel|     27.93|       5| 6.9825|146.6325|1/29/2019|15:48|       Cash|139.65|      6.9825|   5.9|
|191-10-6171|     B| Mandalay|       Normal|Female| Fashion accessories|     39.62|       7| 13.867| 291.207|1/25/2019|13:18|       Cash|277.34|      13.867|   7.5|
|144-51-6085|     A|   Yangon|       Member|  Male|  Home and lifestyle|     70.74|       4| 14.148| 297.108| 1/5/2019|16:05|Credit card|282.96|      14.148|   4.4|
|261-12-8671|     B| Mandalay|       Normal|Female| Fashion accessories|     60.96|       2|  6.096| 128.016|1/25/2019|19:39|Credit card|121.92|       6.096|   4.9|
|133-14-7229|     C|Naypyitaw|       Normal|  Male|   Health and beauty|     62.87|       2|  6.287| 132.027| 1/1/2019|11:43|       Cash|125.74|       6.287|   5.0|
|832-51-6761|     A|   Yangon|       Normal|  Male|  Food and beverages|     33.88|       8| 13.552| 284.592|1/19/2019|20:29|    Ewallet|271.04|      13.552|   9.6|
|852-82-2749|     A|   Yangon|       Normal|  Male|   Sports and travel|     64.59|       4| 12.918| 271.278| 1/6/2019|13:35|    Ewallet|258.36|      12.918|   9.3|
|544-32-5024|     C|Naypyitaw|       Member|Female|  Food and beverages|     49.79|       4|  9.958| 209.118|3/28/2019|19:16|Credit card|199.16|       9.958|   6.4|
|188-55-0967|     B| Mandalay|       Member|  Male|   Health and beauty|     66.47|      10| 33.235| 697.935|1/15/2019|15:01|Credit card| 664.7|      33.235|   5.0|
|183-21-3799|     C|Naypyitaw|       Normal|Female|Electronic access...|     77.63|       9|34.9335|733.6035|2/19/2019|15:14|    Ewallet|698.67|     34.9335|   7.2|
|787-56-0757|     C|Naypyitaw|       Member|Female|  Food and beverages|     80.36|       4| 16.072| 337.512|2/23/2019|18:45|Credit card|321.44|      16.072|   8.3|
|213-72-6612|     A|   Yangon|       Normal|  Male|  Food and beverages|     43.25|       2|  4.325|  90.825|3/20/2019|15:56|       Cash|  86.5|       4.325|   6.2|
|484-22-8230|     C|Naypyitaw|       Member|Female| Fashion accessories|     51.89|       7|18.1615|381.3915| 1/8/2019|20:08|       Cash|363.23|     18.1615|   4.5|
|528-87-5606|     B| Mandalay|       Member|Female|Electronic access...|     39.48|       1|  1.974|  41.454|2/12/2019|19:43|       Cash| 39.48|       1.974|   6.5|
|182-52-7000|     A|   Yangon|       Member|Female|   Sports and travel|     27.04|       4|  5.408| 113.568| 1/1/2019|20:26|    Ewallet|108.16|       5.408|   6.9|
|775-72-1988|     B| Mandalay|       Normal|  Male|  Home and lifestyle|     73.28|       5|  18.32|  384.72|1/24/2019|15:05|    Ewallet| 366.4|       18.32|   8.4|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+------------+------+
only showing top 20 rows

converting date time datatype to date time from string and extracting month and day, date from the date

In [ ]:
from pyspark.sql.functions import col, to_date, dayofweek, hour, to_timestamp

# Set Spark to use the legacy time parser
spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")

# Convert "date" column to proper date format
df = df.withColumn("date", to_date(col("date"), "M/d/yyyy"))

# Extract day of the week
df = df.withColumn("day_of_week", dayofweek(col("date")))

# Convert "time" column to timestamp and extract hour
df = df.withColumn("hour", hour(to_timestamp(col("time"), "HH:mm")))

df.show()

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-----+-----------+------+------------+------+-----------+----+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|      date| Time|    Payment|  cogs|gross income|Rating|day_of_week|hour|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-----+-----------+------+------------+------+-----------+----+
|563-91-7120|     A|   Yangon|       Normal|Female| Fashion accessories|     61.77|       5|15.4425|324.2925|2019-03-08|13:21|       Cash|308.85|     15.4425|   6.7|          6|  13|
|633-09-3463|     C|Naypyitaw|       Normal|Female|Electronic access...|     47.65|       3| 7.1475|150.0975|2019-03-28|12:58|Credit card|142.95|      7.1475|   9.5|          5|  12|
|689-16-9784|     C|Naypyitaw|       Normal|  Male|  Food and beverages|     46.77|       6| 14.031| 294.651|2019-03-11|13:37|       Cash|280.62|      14.031|   6.0|          2|  13|
|676-39-6028|     A|   Yangon|       Member|Female|Electronic access...|     64.44|       5|  16.11|  338.31|2019-03-30|17:04|       Cash| 322.2|       16.11|   6.6|          7|  17|
|816-72-8853|     A|   Yangon|       Member|Female|   Sports and travel|     27.93|       5| 6.9825|146.6325|2019-01-29|15:48|       Cash|139.65|      6.9825|   5.9|          3|  15|
|191-10-6171|     B| Mandalay|       Normal|Female| Fashion accessories|     39.62|       7| 13.867| 291.207|2019-01-25|13:18|       Cash|277.34|      13.867|   7.5|          6|  13|
|144-51-6085|     A|   Yangon|       Member|  Male|  Home and lifestyle|     70.74|       4| 14.148| 297.108|2019-01-05|16:05|Credit card|282.96|      14.148|   4.4|          7|  16|
|261-12-8671|     B| Mandalay|       Normal|Female| Fashion accessories|     60.96|       2|  6.096| 128.016|2019-01-25|19:39|Credit card|121.92|       6.096|   4.9|          6|  19|
|133-14-7229|     C|Naypyitaw|       Normal|  Male|   Health and beauty|     62.87|       2|  6.287| 132.027|2019-01-01|11:43|       Cash|125.74|       6.287|   5.0|          3|  11|
|832-51-6761|     A|   Yangon|       Normal|  Male|  Food and beverages|     33.88|       8| 13.552| 284.592|2019-01-19|20:29|    Ewallet|271.04|      13.552|   9.6|          7|  20|
|852-82-2749|     A|   Yangon|       Normal|  Male|   Sports and travel|     64.59|       4| 12.918| 271.278|2019-01-06|13:35|    Ewallet|258.36|      12.918|   9.3|          1|  13|
|544-32-5024|     C|Naypyitaw|       Member|Female|  Food and beverages|     49.79|       4|  9.958| 209.118|2019-03-28|19:16|Credit card|199.16|       9.958|   6.4|          5|  19|
|188-55-0967|     B| Mandalay|       Member|  Male|   Health and beauty|     66.47|      10| 33.235| 697.935|2019-01-15|15:01|Credit card| 664.7|      33.235|   5.0|          3|  15|
|183-21-3799|     C|Naypyitaw|       Normal|Female|Electronic access...|     77.63|       9|34.9335|733.6035|2019-02-19|15:14|    Ewallet|698.67|     34.9335|   7.2|          3|  15|
|787-56-0757|     C|Naypyitaw|       Member|Female|  Food and beverages|     80.36|       4| 16.072| 337.512|2019-02-23|18:45|Credit card|321.44|      16.072|   8.3|          7|  18|
|213-72-6612|     A|   Yangon|       Normal|  Male|  Food and beverages|     43.25|       2|  4.325|  90.825|2019-03-20|15:56|       Cash|  86.5|       4.325|   6.2|          4|  15|
|484-22-8230|     C|Naypyitaw|       Member|Female| Fashion accessories|     51.89|       7|18.1615|381.3915|2019-01-08|20:08|       Cash|363.23|     18.1615|   4.5|          3|  20|
|528-87-5606|     B| Mandalay|       Member|Female|Electronic access...|     39.48|       1|  1.974|  41.454|2019-02-12|19:43|       Cash| 39.48|       1.974|   6.5|          3|  19|
|182-52-7000|     A|   Yangon|       Member|Female|   Sports and travel|     27.04|       4|  5.408| 113.568|2019-01-01|20:26|    Ewallet|108.16|       5.408|   6.9|          3|  20|
|775-72-1988|     B| Mandalay|       Normal|  Male|  Home and lifestyle|     73.28|       5|  18.32|  384.72|2019-01-24|15:05|    Ewallet| 366.4|       18.32|   8.4|          5|  15|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-----+-----------+------+------------+------+-----------+----+
only showing top 20 rows

Remove the leading and tailing spaces and convert the columns to lower cases

In [ ]:
from pyspark.sql.functions import col, lower, trim

text_columns = ["Branch", "City", "Gender"]

# Apply trimming and lowercase conversion using PySpark functions
df = df.select([trim(lower(col(c))).alias(c) if c in text_columns else col(c) for c in df.columns])
df.show()

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-----+-----------+------+------------+------+-----------+----+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|      date| Time|    Payment|  cogs|gross income|Rating|day_of_week|hour|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-----+-----------+------+------------+------+-----------+----+
|563-91-7120|     a|   yangon|       Normal|female| Fashion accessories|     61.77|       5|15.4425|324.2925|2019-03-08|13:21|       Cash|308.85|     15.4425|   6.7|          6|  13|
|633-09-3463|     c|naypyitaw|       Normal|female|Electronic access...|     47.65|       3| 7.1475|150.0975|2019-03-28|12:58|Credit card|142.95|      7.1475|   9.5|          5|  12|
|689-16-9784|     c|naypyitaw|       Normal|  male|  Food and beverages|     46.77|       6| 14.031| 294.651|2019-03-11|13:37|       Cash|280.62|      14.031|   6.0|          2|  13|
|676-39-6028|     a|   yangon|       Member|female|Electronic access...|     64.44|       5|  16.11|  338.31|2019-03-30|17:04|       Cash| 322.2|       16.11|   6.6|          7|  17|
|816-72-8853|     a|   yangon|       Member|female|   Sports and travel|     27.93|       5| 6.9825|146.6325|2019-01-29|15:48|       Cash|139.65|      6.9825|   5.9|          3|  15|
|191-10-6171|     b| mandalay|       Normal|female| Fashion accessories|     39.62|       7| 13.867| 291.207|2019-01-25|13:18|       Cash|277.34|      13.867|   7.5|          6|  13|
|144-51-6085|     a|   yangon|       Member|  male|  Home and lifestyle|     70.74|       4| 14.148| 297.108|2019-01-05|16:05|Credit card|282.96|      14.148|   4.4|          7|  16|
|261-12-8671|     b| mandalay|       Normal|female| Fashion accessories|     60.96|       2|  6.096| 128.016|2019-01-25|19:39|Credit card|121.92|       6.096|   4.9|          6|  19|
|133-14-7229|     c|naypyitaw|       Normal|  male|   Health and beauty|     62.87|       2|  6.287| 132.027|2019-01-01|11:43|       Cash|125.74|       6.287|   5.0|          3|  11|
|832-51-6761|     a|   yangon|       Normal|  male|  Food and beverages|     33.88|       8| 13.552| 284.592|2019-01-19|20:29|    Ewallet|271.04|      13.552|   9.6|          7|  20|
|852-82-2749|     a|   yangon|       Normal|  male|   Sports and travel|     64.59|       4| 12.918| 271.278|2019-01-06|13:35|    Ewallet|258.36|      12.918|   9.3|          1|  13|
|544-32-5024|     c|naypyitaw|       Member|female|  Food and beverages|     49.79|       4|  9.958| 209.118|2019-03-28|19:16|Credit card|199.16|       9.958|   6.4|          5|  19|
|188-55-0967|     b| mandalay|       Member|  male|   Health and beauty|     66.47|      10| 33.235| 697.935|2019-01-15|15:01|Credit card| 664.7|      33.235|   5.0|          3|  15|
|183-21-3799|     c|naypyitaw|       Normal|female|Electronic access...|     77.63|       9|34.9335|733.6035|2019-02-19|15:14|    Ewallet|698.67|     34.9335|   7.2|          3|  15|
|787-56-0757|     c|naypyitaw|       Member|female|  Food and beverages|     80.36|       4| 16.072| 337.512|2019-02-23|18:45|Credit card|321.44|      16.072|   8.3|          7|  18|
|213-72-6612|     a|   yangon|       Normal|  male|  Food and beverages|     43.25|       2|  4.325|  90.825|2019-03-20|15:56|       Cash|  86.5|       4.325|   6.2|          4|  15|
|484-22-8230|     c|naypyitaw|       Member|female| Fashion accessories|     51.89|       7|18.1615|381.3915|2019-01-08|20:08|       Cash|363.23|     18.1615|   4.5|          3|  20|
|528-87-5606|     b| mandalay|       Member|female|Electronic access...|     39.48|       1|  1.974|  41.454|2019-02-12|19:43|       Cash| 39.48|       1.974|   6.5|          3|  19|
|182-52-7000|     a|   yangon|       Member|female|   Sports and travel|     27.04|       4|  5.408| 113.568|2019-01-01|20:26|    Ewallet|108.16|       5.408|   6.9|          3|  20|
|775-72-1988|     b| mandalay|       Normal|  male|  Home and lifestyle|     73.28|       5|  18.32|  384.72|2019-01-24|15:05|    Ewallet| 366.4|       18.32|   8.4|          5|  15|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-----+-----------+------+------------+------+-----------+----+
only showing top 20 rows

fixing numerical values

In [ ]:
from pyspark.sql.functions import col

# Define numeric columns
num_columns = ["Unit price", "Tax 5%", "Total", "cogs", "gross margin percentage", "Rating"]

# Convert columns to float type
df = df.select([col(c).cast("float").alias(c) if c in num_columns else col(c) for c in df.columns])

# Verify schema to ensure columns are correctly cast to float
df.printSchema()

# Show results
df.show()

root
 |-- Invoice ID: string (nullable = true)
 |-- Branch: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Customer type: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Product line: string (nullable = true)
 |-- Unit price: float (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Tax 5%: float (nullable = true)
 |-- Total: float (nullable = true)
 |-- date: date (nullable = true)
 |-- Time: string (nullable = true)
 |-- Payment: string (nullable = true)
 |-- cogs: float (nullable = true)
 |-- gross income: float (nullable = true)
 |-- Rating: float (nullable = true)
 |-- day_of_week: integer (nullable = true)
 |-- hour: integer (nullable = true)

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-----+-----------+------+------------+------+-----------+----+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|      date| Time|    Payment|  cogs|gross income|Rating|day_of_week|hour|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-----+-----------+------+------------+------+-----------+----+
|563-91-7120|     a|   yangon|       Normal|female| Fashion accessories|     61.77|       5|15.4425|324.2925|2019-03-08|13:21|       Cash|308.85|     15.4425|   6.7|          6|  13|
|633-09-3463|     c|naypyitaw|       Normal|female|Electronic access...|     47.65|       3| 7.1475|150.0975|2019-03-28|12:58|Credit card|142.95|      7.1475|   9.5|          5|  12|
|689-16-9784|     c|naypyitaw|       Normal|  male|  Food and beverages|     46.77|       6| 14.031| 294.651|2019-03-11|13:37|       Cash|280.62|      14.031|   6.0|          2|  13|
|676-39-6028|     a|   yangon|       Member|female|Electronic access...|     64.44|       5|  16.11|  338.31|2019-03-30|17:04|       Cash| 322.2|       16.11|   6.6|          7|  17|
|816-72-8853|     a|   yangon|       Member|female|   Sports and travel|     27.93|       5| 6.9825|146.6325|2019-01-29|15:48|       Cash|139.65|      6.9825|   5.9|          3|  15|
|191-10-6171|     b| mandalay|       Normal|female| Fashion accessories|     39.62|       7| 13.867| 291.207|2019-01-25|13:18|       Cash|277.34|      13.867|   7.5|          6|  13|
|144-51-6085|     a|   yangon|       Member|  male|  Home and lifestyle|     70.74|       4| 14.148| 297.108|2019-01-05|16:05|Credit card|282.96|      14.148|   4.4|          7|  16|
|261-12-8671|     b| mandalay|       Normal|female| Fashion accessories|     60.96|       2|  6.096| 128.016|2019-01-25|19:39|Credit card|121.92|       6.096|   4.9|          6|  19|
|133-14-7229|     c|naypyitaw|       Normal|  male|   Health and beauty|     62.87|       2|  6.287| 132.027|2019-01-01|11:43|       Cash|125.74|       6.287|   5.0|          3|  11|
|832-51-6761|     a|   yangon|       Normal|  male|  Food and beverages|     33.88|       8| 13.552| 284.592|2019-01-19|20:29|    Ewallet|271.04|      13.552|   9.6|          7|  20|
|852-82-2749|     a|   yangon|       Normal|  male|   Sports and travel|     64.59|       4| 12.918| 271.278|2019-01-06|13:35|    Ewallet|258.36|      12.918|   9.3|          1|  13|
|544-32-5024|     c|naypyitaw|       Member|female|  Food and beverages|     49.79|       4|  9.958| 209.118|2019-03-28|19:16|Credit card|199.16|       9.958|   6.4|          5|  19|
|188-55-0967|     b| mandalay|       Member|  male|   Health and beauty|     66.47|      10| 33.235| 697.935|2019-01-15|15:01|Credit card| 664.7|      33.235|   5.0|          3|  15|
|183-21-3799|     c|naypyitaw|       Normal|female|Electronic access...|     77.63|       9|34.9335|733.6035|2019-02-19|15:14|    Ewallet|698.67|     34.9335|   7.2|          3|  15|
|787-56-0757|     c|naypyitaw|       Member|female|  Food and beverages|     80.36|       4| 16.072| 337.512|2019-02-23|18:45|Credit card|321.44|      16.072|   8.3|          7|  18|
|213-72-6612|     a|   yangon|       Normal|  male|  Food and beverages|     43.25|       2|  4.325|  90.825|2019-03-20|15:56|       Cash|  86.5|       4.325|   6.2|          4|  15|
|484-22-8230|     c|naypyitaw|       Member|female| Fashion accessories|     51.89|       7|18.1615|381.3915|2019-01-08|20:08|       Cash|363.23|     18.1615|   4.5|          3|  20|
|528-87-5606|     b| mandalay|       Member|female|Electronic access...|     39.48|       1|  1.974|  41.454|2019-02-12|19:43|       Cash| 39.48|       1.974|   6.5|          3|  19|
|182-52-7000|     a|   yangon|       Member|female|   Sports and travel|     27.04|       4|  5.408| 113.568|2019-01-01|20:26|    Ewallet|108.16|       5.408|   6.9|          3|  20|
|775-72-1988|     b| mandalay|       Normal|  male|  Home and lifestyle|     73.28|       5|  18.32|  384.72|2019-01-24|15:05|    Ewallet| 366.4|       18.32|   8.4|          5|  15|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-----+-----------+------+------------+------+-----------+----+
only showing top 20 rows

Handling outliers

In [ ]:
df = df[(df["rating"] >= 1) & (df["rating"] <= 10)]
df = df[(df["quantity"] >= 1) & (df["quantity"] <= 50)]
df = df[df["total"] > 0]  # Remove rows with total = 0
df.show(10)

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-----+-----------+------+------------+------+-----------+----+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|      date| Time|    Payment|  cogs|gross income|Rating|day_of_week|hour|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-----+-----------+------+------------+------+-----------+----+
|563-91-7120|     a|   yangon|       Normal|female| Fashion accessories|     61.77|       5|15.4425|324.2925|2019-03-08|13:21|       Cash|308.85|     15.4425|   6.7|          6|  13|
|633-09-3463|     c|naypyitaw|       Normal|female|Electronic access...|     47.65|       3| 7.1475|150.0975|2019-03-28|12:58|Credit card|142.95|      7.1475|   9.5|          5|  12|
|689-16-9784|     c|naypyitaw|       Normal|  male|  Food and beverages|     46.77|       6| 14.031| 294.651|2019-03-11|13:37|       Cash|280.62|      14.031|   6.0|          2|  13|
|676-39-6028|     a|   yangon|       Member|female|Electronic access...|     64.44|       5|  16.11|  338.31|2019-03-30|17:04|       Cash| 322.2|       16.11|   6.6|          7|  17|
|816-72-8853|     a|   yangon|       Member|female|   Sports and travel|     27.93|       5| 6.9825|146.6325|2019-01-29|15:48|       Cash|139.65|      6.9825|   5.9|          3|  15|
|191-10-6171|     b| mandalay|       Normal|female| Fashion accessories|     39.62|       7| 13.867| 291.207|2019-01-25|13:18|       Cash|277.34|      13.867|   7.5|          6|  13|
|144-51-6085|     a|   yangon|       Member|  male|  Home and lifestyle|     70.74|       4| 14.148| 297.108|2019-01-05|16:05|Credit card|282.96|      14.148|   4.4|          7|  16|
|261-12-8671|     b| mandalay|       Normal|female| Fashion accessories|     60.96|       2|  6.096| 128.016|2019-01-25|19:39|Credit card|121.92|       6.096|   4.9|          6|  19|
|133-14-7229|     c|naypyitaw|       Normal|  male|   Health and beauty|     62.87|       2|  6.287| 132.027|2019-01-01|11:43|       Cash|125.74|       6.287|   5.0|          3|  11|
|832-51-6761|     a|   yangon|       Normal|  male|  Food and beverages|     33.88|       8| 13.552| 284.592|2019-01-19|20:29|    Ewallet|271.04|      13.552|   9.6|          7|  20|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-----+-----------+------+------------+------+-----------+----+
only showing top 10 rows

caluclating profit margin

In [ ]:
from pyspark.sql.functions import when

# Avoid division by zero
df = df.withColumn(
    "profit_margin",
    when(col("Total") != 0, col("gross income") / col("Total")).otherwise(None)
)

df.show(10)

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-----+-----------+------+------------+------+-----------+----+--------------------+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|      date| Time|    Payment|  cogs|gross income|Rating|day_of_week|hour|       profit_margin|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-----+-----------+------+------------+------+-----------+----+--------------------+
|563-91-7120|     a|   yangon|       Normal|female| Fashion accessories|     61.77|       5|15.4425|324.2925|2019-03-08|13:21|       Cash|308.85|     15.4425|   6.7|          6|  13|  0.0476190463587115|
|633-09-3463|     c|naypyitaw|       Normal|female|Electronic access...|     47.65|       3| 7.1475|150.0975|2019-03-28|12:58|Credit card|142.95|      7.1475|   9.5|          5|  12| 0.04761904671137637|
|689-16-9784|     c|naypyitaw|       Normal|  male|  Food and beverages|     46.77|       6| 14.031| 294.651|2019-03-11|13:37|       Cash|280.62|      14.031|   6.0|          2|  13|0.047619047927297466|
|676-39-6028|     a|   yangon|       Member|female|Electronic access...|     64.44|       5|  16.11|  338.31|2019-03-30|17:04|       Cash| 322.2|       16.11|   6.6|          7|  17| 0.04761904976680857|
|816-72-8853|     a|   yangon|       Member|female|   Sports and travel|     27.93|       5| 6.9825|146.6325|2019-01-29|15:48|       Cash|139.65|      6.9825|   5.9|          3|  15|0.047619045760807714|
|191-10-6171|     b| mandalay|       Normal|female| Fashion accessories|     39.62|       7| 13.867| 291.207|2019-01-25|13:18|       Cash|277.34|      13.867|   7.5|          6|  13|0.047619046215518296|
|144-51-6085|     a|   yangon|       Member|  male|  Home and lifestyle|     70.74|       4| 14.148| 297.108|2019-01-05|16:05|Credit card|282.96|      14.148|   4.4|          7|  16|0.047619046549095156|
|261-12-8671|     b| mandalay|       Normal|female| Fashion accessories|     60.96|       2|  6.096| 128.016|2019-01-25|19:39|Credit card|121.92|       6.096|   4.9|          6|  19|0.047619046732184644|
|133-14-7229|     c|naypyitaw|       Normal|  male|   Health and beauty|     62.87|       2|  6.287| 132.027|2019-01-01|11:43|       Cash|125.74|       6.287|   5.0|          3|  11| 0.04761905157467979|
|832-51-6761|     a|   yangon|       Normal|  male|  Food and beverages|     33.88|       8| 13.552| 284.592|2019-01-19|20:29|    Ewallet|271.04|      13.552|   9.6|          7|  20|0.047619046023322474|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-----+-----------+------+------------+------+-----------+----+--------------------+
only showing top 10 rows

identify the rush hours

In [ ]:
from pyspark.sql.functions import col, when

# Create 'rush_hour' column based on conditions
df = df.withColumn(
    "rush_hour",
    when(col("hour").isin([12, 13, 17, 18]), "yes").otherwise("no")
)

# Show the first 10 rows
df.show(10)

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-----+-----------+------+------------+------+-----------+----+--------------------+---------+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|      date| Time|    Payment|  cogs|gross income|Rating|day_of_week|hour|       profit_margin|rush_hour|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-----+-----------+------+------------+------+-----------+----+--------------------+---------+
|563-91-7120|     a|   yangon|       Normal|female| Fashion accessories|     61.77|       5|15.4425|324.2925|2019-03-08|13:21|       Cash|308.85|     15.4425|   6.7|          6|  13|  0.0476190463587115|      yes|
|633-09-3463|     c|naypyitaw|       Normal|female|Electronic access...|     47.65|       3| 7.1475|150.0975|2019-03-28|12:58|Credit card|142.95|      7.1475|   9.5|          5|  12| 0.04761904671137637|      yes|
|689-16-9784|     c|naypyitaw|       Normal|  male|  Food and beverages|     46.77|       6| 14.031| 294.651|2019-03-11|13:37|       Cash|280.62|      14.031|   6.0|          2|  13|0.047619047927297466|      yes|
|676-39-6028|     a|   yangon|       Member|female|Electronic access...|     64.44|       5|  16.11|  338.31|2019-03-30|17:04|       Cash| 322.2|       16.11|   6.6|          7|  17| 0.04761904976680857|      yes|
|816-72-8853|     a|   yangon|       Member|female|   Sports and travel|     27.93|       5| 6.9825|146.6325|2019-01-29|15:48|       Cash|139.65|      6.9825|   5.9|          3|  15|0.047619045760807714|       no|
|191-10-6171|     b| mandalay|       Normal|female| Fashion accessories|     39.62|       7| 13.867| 291.207|2019-01-25|13:18|       Cash|277.34|      13.867|   7.5|          6|  13|0.047619046215518296|      yes|
|144-51-6085|     a|   yangon|       Member|  male|  Home and lifestyle|     70.74|       4| 14.148| 297.108|2019-01-05|16:05|Credit card|282.96|      14.148|   4.4|          7|  16|0.047619046549095156|       no|
|261-12-8671|     b| mandalay|       Normal|female| Fashion accessories|     60.96|       2|  6.096| 128.016|2019-01-25|19:39|Credit card|121.92|       6.096|   4.9|          6|  19|0.047619046732184644|       no|
|133-14-7229|     c|naypyitaw|       Normal|  male|   Health and beauty|     62.87|       2|  6.287| 132.027|2019-01-01|11:43|       Cash|125.74|       6.287|   5.0|          3|  11| 0.04761905157467979|       no|
|832-51-6761|     a|   yangon|       Normal|  male|  Food and beverages|     33.88|       8| 13.552| 284.592|2019-01-19|20:29|    Ewallet|271.04|      13.552|   9.6|          7|  20|0.047619046023322474|       no|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-----+-----------+------+------------+------+-----------+----+--------------------+---------+
only showing top 10 rows

Categorise customer spending

In [ ]:
from pyspark.sql.functions import col, when

# Create 'spending_category' column based on the 'total' column
df = df.withColumn(
    "spending_category",
    when(col("total") <= 100, "low")
    .when((col("total") > 100) & (col("total") <= 500), "medium")
    .otherwise("high")
)

# Show first 10 rows
df.show(10)

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-----+-----------+------+------------+------+-----------+----+--------------------+---------+-----------------+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|      date| Time|    Payment|  cogs|gross income|Rating|day_of_week|hour|       profit_margin|rush_hour|spending_category|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-----+-----------+------+------------+------+-----------+----+--------------------+---------+-----------------+
|563-91-7120|     a|   yangon|       Normal|female| Fashion accessories|     61.77|       5|15.4425|324.2925|2019-03-08|13:21|       Cash|308.85|     15.4425|   6.7|          6|  13|  0.0476190463587115|      yes|           medium|
|633-09-3463|     c|naypyitaw|       Normal|female|Electronic access...|     47.65|       3| 7.1475|150.0975|2019-03-28|12:58|Credit card|142.95|      7.1475|   9.5|          5|  12| 0.04761904671137637|      yes|           medium|
|689-16-9784|     c|naypyitaw|       Normal|  male|  Food and beverages|     46.77|       6| 14.031| 294.651|2019-03-11|13:37|       Cash|280.62|      14.031|   6.0|          2|  13|0.047619047927297466|      yes|           medium|
|676-39-6028|     a|   yangon|       Member|female|Electronic access...|     64.44|       5|  16.11|  338.31|2019-03-30|17:04|       Cash| 322.2|       16.11|   6.6|          7|  17| 0.04761904976680857|      yes|           medium|
|816-72-8853|     a|   yangon|       Member|female|   Sports and travel|     27.93|       5| 6.9825|146.6325|2019-01-29|15:48|       Cash|139.65|      6.9825|   5.9|          3|  15|0.047619045760807714|       no|           medium|
|191-10-6171|     b| mandalay|       Normal|female| Fashion accessories|     39.62|       7| 13.867| 291.207|2019-01-25|13:18|       Cash|277.34|      13.867|   7.5|          6|  13|0.047619046215518296|      yes|           medium|
|144-51-6085|     a|   yangon|       Member|  male|  Home and lifestyle|     70.74|       4| 14.148| 297.108|2019-01-05|16:05|Credit card|282.96|      14.148|   4.4|          7|  16|0.047619046549095156|       no|           medium|
|261-12-8671|     b| mandalay|       Normal|female| Fashion accessories|     60.96|       2|  6.096| 128.016|2019-01-25|19:39|Credit card|121.92|       6.096|   4.9|          6|  19|0.047619046732184644|       no|           medium|
|133-14-7229|     c|naypyitaw|       Normal|  male|   Health and beauty|     62.87|       2|  6.287| 132.027|2019-01-01|11:43|       Cash|125.74|       6.287|   5.0|          3|  11| 0.04761905157467979|       no|           medium|
|832-51-6761|     a|   yangon|       Normal|  male|  Food and beverages|     33.88|       8| 13.552| 284.592|2019-01-19|20:29|    Ewallet|271.04|      13.552|   9.6|          7|  20|0.047619046023322474|       no|           medium|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-----+-----------+------+------------+------+-----------+----+--------------------+---------+-----------------+
only showing top 10 rows

  Remove the special characters from the specific column

removing the special charcaters

In [ ]:
from pyspark.sql.functions import regexp_replace

# Define a function to clean special characters from all string columns
def remove_special_chars(df):
    for col_name in df.columns:
        df = df.withColumn(col_name, regexp_replace(col(col_name), r"[^a-zA-Z0-9\s]", ""))
    return df

# Apply function to clean dataset
df = remove_special_chars(df)

# Show cleaned dataset
df.show(truncate=False)

+----------+------+---------+-------------+------+----------------------+----------+--------+------+-------+--------+----+-----------+-----+------------+------+-----------+----+-------------------+---------+-----------------+
|Invoice ID|Branch|City     |Customer type|Gender|Product line          |Unit price|Quantity|Tax 5%|Total  |date    |Time|Payment    |cogs |gross income|Rating|day_of_week|hour|profit_margin      |rush_hour|spending_category|
+----------+------+---------+-------------+------+----------------------+----------+--------+------+-------+--------+----+-----------+-----+------------+------+-----------+----+-------------------+---------+-----------------+
|563917120 |a     |yangon   |Normal       |female|Fashion accessories   |6177      |5       |154425|3242925|20190308|1321|Cash       |30885|154425      |67    |6          |13  |00476190463587115  |yes      |medium           |
|633093463 |c     |naypyitaw|Normal       |female|Electronic accessories|4765      |3       |71475 |1500975|20190328|1258|Credit card|14295|71475       |95    |5          |12  |004761904671137637 |yes      |medium           |
|689169784 |c     |naypyitaw|Normal       |male  |Food and beverages    |4677      |6       |14031 |294651 |20190311|1337|Cash       |28062|14031       |60    |2          |13  |0047619047927297466|yes      |medium           |
|676396028 |a     |yangon   |Member       |female|Electronic accessories|6444      |5       |1611  |33831  |20190330|1704|Cash       |3222 |1611        |66    |7          |17  |004761904976680857 |yes      |medium           |
|816728853 |a     |yangon   |Member       |female|Sports and travel     |2793      |5       |69825 |1466325|20190129|1548|Cash       |13965|69825       |59    |3          |15  |0047619045760807714|no       |medium           |
|191106171 |b     |mandalay |Normal       |female|Fashion accessories   |3962      |7       |13867 |291207 |20190125|1318|Cash       |27734|13867       |75    |6          |13  |0047619046215518296|yes      |medium           |
|144516085 |a     |yangon   |Member       |male  |Home and lifestyle    |7074      |4       |14148 |297108 |20190105|1605|Credit card|28296|14148       |44    |7          |16  |0047619046549095156|no       |medium           |
|261128671 |b     |mandalay |Normal       |female|Fashion accessories   |6096      |2       |6096  |128016 |20190125|1939|Credit card|12192|6096        |49    |6          |19  |0047619046732184644|no       |medium           |
|133147229 |c     |naypyitaw|Normal       |male  |Health and beauty     |6287      |2       |6287  |132027 |20190101|1143|Cash       |12574|6287        |50    |3          |11  |004761905157467979 |no       |medium           |
|832516761 |a     |yangon   |Normal       |male  |Food and beverages    |3388      |8       |13552 |284592 |20190119|2029|Ewallet    |27104|13552       |96    |7          |20  |0047619046023322474|no       |medium           |
|852822749 |a     |yangon   |Normal       |male  |Sports and travel     |6459      |4       |12918 |271278 |20190106|1335|Ewallet    |25836|12918       |93    |1          |13  |0047619045777602086|yes      |medium           |
|544325024 |c     |naypyitaw|Member       |female|Food and beverages    |4979      |4       |9958  |209118 |20190328|1916|Credit card|19916|9958        |64    |5          |19  |004761904935636582 |no       |medium           |
|188550967 |b     |mandalay |Member       |male  |Health and beauty     |6647      |10      |33235 |697935 |20190115|1501|Credit card|6647 |33235       |50    |3          |15  |004761904866013168 |no       |high             |
|183213799 |c     |naypyitaw|Normal       |female|Electronic accessories|7763      |9       |349335|7336035|20190219|1514|Ewallet    |69867|349335      |72    |3          |15  |004761904440003461 |no       |high             |
|787560757 |c     |naypyitaw|Member       |female|Food and beverages    |8036      |4       |16072 |337512 |20190223|1845|Credit card|32144|16072       |83    |7          |18  |004761905004099156 |yes      |medium           |
|213726612 |a     |yangon   |Normal       |male  |Food and beverages    |4325      |2       |4325  |90825  |20190320|1556|Cash       |865  |4325        |62    |4          |15  |0047619047119041406|no       |low              |
|484228230 |c     |naypyitaw|Member       |female|Fashion accessories   |5189      |7       |181615|3813915|20190108|2008|Cash       |36323|181615      |45    |3          |20  |004761904880976796 |no       |medium           |
|528875606 |b     |mandalay |Member       |female|Electronic accessories|3948      |1       |1974  |41454  |20190212|1943|Cash       |3948 |1974        |65    |3          |19  |0047619048714552616|no       |low              |
|182527000 |a     |yangon   |Member       |female|Sports and travel     |2704      |4       |5408  |113568 |20190101|2026|Ewallet    |10816|5408        |69    |3          |20  |00476190472191721  |no       |medium           |
|775721988 |b     |mandalay |Normal       |male  |Home and lifestyle    |7328      |5       |1832  |38472  |20190124|1505|Ewallet    |3664 |1832        |84    |5          |15  |004761904667471278 |no       |medium           |
+----------+------+---------+-------------+------+----------------------+----------+--------+------+-------+--------+----+-----------+-----+------------+------+-----------+----+-------------------+---------+-----------------+
only showing top 20 rows

checking the data types and null values

In [ ]:
from pyspark.sql.functions import col, sum

# Check for missing values in each column
print("Missing Values:")
df.select([sum(col(c).isNull().cast("int")).alias(c) for c in df.columns]).show()

# Check data types of each column
print("\nData Types:")
df.printSchema()

# Show first few rows
df.show(5)

Missing Values:
+----------+------+----+-------------+------+------------+----------+--------+------+-----+----+----+-------+----+------------+------+-----------+----+-------------+---------+-----------------+
|Invoice ID|Branch|City|Customer type|Gender|Product line|Unit price|Quantity|Tax 5%|Total|date|Time|Payment|cogs|gross income|Rating|day_of_week|hour|profit_margin|rush_hour|spending_category|
+----------+------+----+-------------+------+------------+----------+--------+------+-----+----+----+-------+----+------------+------+-----------+----+-------------+---------+-----------------+
|         0|     0|   0|            0|     0|           0|         0|       0|     0|    0|   0|   0|      0|   0|           0|     0|          0|   0|            0|        0|                0|
+----------+------+----+-------------+------+------------+----------+--------+------+-----+----+----+-------+----+------------+------+-----------+----+-------------+---------+-----------------+


Data Types:
root
 |-- Invoice ID: string (nullable = true)
 |-- Branch: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Customer type: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Product line: string (nullable = true)
 |-- Unit price: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Tax 5%: string (nullable = true)
 |-- Total: string (nullable = true)
 |-- date: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- Payment: string (nullable = true)
 |-- cogs: string (nullable = true)
 |-- gross income: string (nullable = true)
 |-- Rating: string (nullable = true)
 |-- day_of_week: string (nullable = true)
 |-- hour: string (nullable = true)
 |-- profit_margin: string (nullable = true)
 |-- rush_hour: string (nullable = false)
 |-- spending_category: string (nullable = false)

+----------+------+---------+-------------+------+--------------------+----------+--------+------+-------+--------+----+-----------+-----+------------+------+-----------+----+-------------------+---------+-----------------+
|Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity|Tax 5%|  Total|    date|Time|    Payment| cogs|gross income|Rating|day_of_week|hour|      profit_margin|rush_hour|spending_category|
+----------+------+---------+-------------+------+--------------------+----------+--------+------+-------+--------+----+-----------+-----+------------+------+-----------+----+-------------------+---------+-----------------+
| 563917120|     a|   yangon|       Normal|female| Fashion accessories|      6177|       5|154425|3242925|20190308|1321|       Cash|30885|      154425|    67|          6|  13|  00476190463587115|      yes|           medium|
| 633093463|     c|naypyitaw|       Normal|female|Electronic access...|      4765|       3| 71475|1500975|20190328|1258|Credit card|14295|       71475|    95|          5|  12| 004761904671137637|      yes|           medium|
| 689169784|     c|naypyitaw|       Normal|  male|  Food and beverages|      4677|       6| 14031| 294651|20190311|1337|       Cash|28062|       14031|    60|          2|  13|0047619047927297466|      yes|           medium|
| 676396028|     a|   yangon|       Member|female|Electronic access...|      6444|       5|  1611|  33831|20190330|1704|       Cash| 3222|        1611|    66|          7|  17| 004761904976680857|      yes|           medium|
| 816728853|     a|   yangon|       Member|female|   Sports and travel|      2793|       5| 69825|1466325|20190129|1548|       Cash|13965|       69825|    59|          3|  15|0047619045760807714|       no|           medium|
+----------+------+---------+-------------+------+--------------------+----------+--------+------+-------+--------+----+-----------+-----+------------+------+-----------+----+-------------------+---------+-----------------+
only showing top 5 rows

Monhly sales trend

In [ ]:
from pyspark.sql.functions import year, month, sum

monthly_sales = df.groupBy((df["spending_category"]).alias("spending_Range"))\
                  .agg(sum("Total").alias("Total Revenue"))
monthly_sales.show()

+--------------+-------------+
|spending_Range|Total Revenue|
+--------------+-------------+
|           low|  4.9841379E7|
|          high| 3.96386655E8|
|        medium| 4.30843812E8|
+--------------+-------------+

top selling product categories

In [ ]:
top_products = df.groupBy("Product line")\
                 .agg(sum("Quantity").alias("Total Sold"))\
                 .orderBy("Total Sold", ascending=False)

top_products.show()

+--------------------+----------+
|        Product line|Total Sold|
+--------------------+----------+
|Electronic access...|     971.0|
|  Food and beverages|     952.0|
|   Sports and travel|     920.0|
|  Home and lifestyle|     911.0|
| Fashion accessories|     902.0|
|   Health and beauty|     854.0|
+--------------------+----------+

best performance store loactions

In [ ]:
store_performance = df.groupBy("City")\
                      .agg(sum("Total").alias("Total Sales"))\
                      .orderBy("Total Sales", ascending=False)

store_performance.show()

+---------+------------+
|     City| Total Sales|
+---------+------------+
|naypyitaw|3.03677094E8|
| mandalay|2.91910206E8|
|   yangon|2.81484546E8|
+---------+------------+

Average rating by each store location

In [ ]:
from pyspark.sql.functions import avg

avg_ratings = df.groupBy("City")\
                .agg(avg("Rating").alias("Avg Rating"))\
                .orderBy("Avg Rating", ascending=False)

avg_ratings.show()

+---------+-----------------+
|     City|       Avg Rating|
+---------+-----------------+
|naypyitaw|70.72865853658537|
|   yangon|70.27058823529411|
| mandalay|68.18072289156626|
+---------+-----------------+

categorise rating

In [ ]:
from pyspark.sql.functions import col, when, avg

# Categorize rating into sentiment
df = df.withColumn(
    "rating_sentiment",
    when(col("rating") <= 40, "negative")
    .when(col("rating") <= 70, "neutral")
    .otherwise("positive")
)

# Compute the average rating per product line
rating_avg = df.groupBy("product line").agg(avg("rating").alias("avg_product_rating"))

# Merge the average rating back to the original DataFrame
df = df.join(rating_avg, on="product line", how="left")

# Show results
df.show()

+--------------------+----------+------+---------+-------------+------+----------+--------+------+-------+--------+----+-----------+-----+------------+------+-----------+----+-------------------+---------+-----------------+----------------+------------------+
|        Product line|Invoice ID|Branch|     City|Customer type|Gender|Unit price|Quantity|Tax 5%|  Total|    date|Time|    Payment| cogs|gross income|Rating|day_of_week|hour|      profit_margin|rush_hour|spending_category|rating_sentiment|avg_product_rating|
+--------------------+----------+------+---------+-------------+------+----------+--------+------+-------+--------+----+-----------+-----+------------+------+-----------+----+-------------------+---------+-----------------+----------------+------------------+
| Fashion accessories| 563917120|     a|   yangon|       Normal|female|      6177|       5|154425|3242925|20190308|1321|       Cash|30885|      154425|    67|          6|  13|  00476190463587115|      yes|           medium|         neutral| 70.29213483146067|
|Electronic access...| 633093463|     c|naypyitaw|       Normal|female|      4765|       3| 71475|1500975|20190328|1258|Credit card|14295|       71475|    95|          5|  12| 004761904671137637|      yes|           medium|        positive| 69.24705882352941|
|  Food and beverages| 689169784|     c|naypyitaw|       Normal|  male|      4677|       6| 14031| 294651|20190311|1337|       Cash|28062|       14031|    60|          2|  13|0047619047927297466|      yes|           medium|         neutral| 71.13218390804597|
|Electronic access...| 676396028|     a|   yangon|       Member|female|      6444|       5|  1611|  33831|20190330|1704|       Cash| 3222|        1611|    66|          7|  17| 004761904976680857|      yes|           medium|         neutral| 69.24705882352941|
|   Sports and travel| 816728853|     a|   yangon|       Member|female|      2793|       5| 69825|1466325|20190129|1548|       Cash|13965|       69825|    59|          3|  15|0047619045760807714|       no|           medium|         neutral| 69.16265060240964|
| Fashion accessories| 191106171|     b| mandalay|       Normal|female|      3962|       7| 13867| 291207|20190125|1318|       Cash|27734|       13867|    75|          6|  13|0047619046215518296|      yes|           medium|        positive| 70.29213483146067|
|  Home and lifestyle| 144516085|     a|   yangon|       Member|  male|      7074|       4| 14148| 297108|20190105|1605|Credit card|28296|       14148|    44|          7|  16|0047619046549095156|       no|           medium|         neutral|            68.375|
| Fashion accessories| 261128671|     b| mandalay|       Normal|female|      6096|       2|  6096| 128016|20190125|1939|Credit card|12192|        6096|    49|          6|  19|0047619046732184644|       no|           medium|         neutral| 70.29213483146067|
|   Health and beauty| 133147229|     c|naypyitaw|       Normal|  male|      6287|       2|  6287| 132027|20190101|1143|       Cash|12574|        6287|    50|          3|  11| 004761905157467979|       no|           medium|         neutral| 70.03289473684211|
|  Food and beverages| 832516761|     a|   yangon|       Normal|  male|      3388|       8| 13552| 284592|20190119|2029|    Ewallet|27104|       13552|    96|          7|  20|0047619046023322474|       no|           medium|        positive| 71.13218390804597|
|   Sports and travel| 852822749|     a|   yangon|       Normal|  male|      6459|       4| 12918| 271278|20190106|1335|    Ewallet|25836|       12918|    93|          1|  13|0047619045777602086|      yes|           medium|        positive| 69.16265060240964|
|  Food and beverages| 544325024|     c|naypyitaw|       Member|female|      4979|       4|  9958| 209118|20190328|1916|Credit card|19916|        9958|    64|          5|  19| 004761904935636582|       no|           medium|         neutral| 71.13218390804597|
|   Health and beauty| 188550967|     b| mandalay|       Member|  male|      6647|      10| 33235| 697935|20190115|1501|Credit card| 6647|       33235|    50|          3|  15| 004761904866013168|       no|             high|         neutral| 70.03289473684211|
|Electronic access...| 183213799|     c|naypyitaw|       Normal|female|      7763|       9|349335|7336035|20190219|1514|    Ewallet|69867|      349335|    72|          3|  15| 004761904440003461|       no|             high|        positive| 69.24705882352941|
|  Food and beverages| 787560757|     c|naypyitaw|       Member|female|      8036|       4| 16072| 337512|20190223|1845|Credit card|32144|       16072|    83|          7|  18| 004761905004099156|      yes|           medium|        positive| 71.13218390804597|
|  Food and beverages| 213726612|     a|   yangon|       Normal|  male|      4325|       2|  4325|  90825|20190320|1556|       Cash|  865|        4325|    62|          4|  15|0047619047119041406|       no|              low|         neutral| 71.13218390804597|
| Fashion accessories| 484228230|     c|naypyitaw|       Member|female|      5189|       7|181615|3813915|20190108|2008|       Cash|36323|      181615|    45|          3|  20| 004761904880976796|       no|           medium|         neutral| 70.29213483146067|
|Electronic access...| 528875606|     b| mandalay|       Member|female|      3948|       1|  1974|  41454|20190212|1943|       Cash| 3948|        1974|    65|          3|  19|0047619048714552616|       no|              low|         neutral| 69.24705882352941|
|   Sports and travel| 182527000|     a|   yangon|       Member|female|      2704|       4|  5408| 113568|20190101|2026|    Ewallet|10816|        5408|    69|          3|  20|  00476190472191721|       no|           medium|         neutral| 69.16265060240964|
|  Home and lifestyle| 775721988|     b| mandalay|       Normal|  male|      7328|       5|  1832|  38472|20190124|1505|    Ewallet| 3664|        1832|    84|          5|  15| 004761904667471278|       no|           medium|        positive|            68.375|
+--------------------+----------+------+---------+-------------+------+----------+--------+------+-------+--------+----+-----------+-----+------------+------+-----------+----+-------------------+---------+-----------------+----------------+------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import sum, avg, count

# Compute payment summary
payment_summary = df.groupBy("payment").agg(
    sum("total").alias("total_revenue"),
    avg("total").alias("avg_transaction"),
    count("payment").alias("num_transactions")
)

# Join the summary back to the original dataframe
df = df.join(payment_summary, on="payment", how="left")

# Show the results
df.show()

+-----------+--------------------+----------+------+---------+-------------+------+----------+--------+------+-------+--------+----+-----+------------+------+-----------+----+-------------------+---------+-----------------+----------------+------------------+-------------+-----------------+----------------+
|    Payment|        Product line|Invoice ID|Branch|     City|Customer type|Gender|Unit price|Quantity|Tax 5%|  Total|    date|Time| cogs|gross income|Rating|day_of_week|hour|      profit_margin|rush_hour|spending_category|rating_sentiment|avg_product_rating|total_revenue|  avg_transaction|num_transactions|
+-----------+--------------------+----------+------+---------+-------------+------+----------+--------+------+-------+--------+----+-----+------------+------+-----------+----+-------------------+---------+-----------------+----------------+------------------+-------------+-----------------+----------------+
|       Cash| Fashion accessories| 563917120|     a|   yangon|       Normal|female|      6177|       5|154425|3242925|20190308|1321|30885|      154425|    67|          6|  13|  00476190463587115|      yes|           medium|         neutral| 70.29213483146067| 3.10603461E8|902917.0377906977|             344|
|Credit card|Electronic access...| 633093463|     c|naypyitaw|       Normal|female|      4765|       3| 71475|1500975|20190328|1258|14295|       71475|    95|          5|  12| 004761904671137637|      yes|           medium|        positive| 69.24705882352941| 2.70194988E8|868794.1736334405|             311|
|       Cash|  Food and beverages| 689169784|     c|naypyitaw|       Normal|  male|      4677|       6| 14031| 294651|20190311|1337|28062|       14031|    60|          2|  13|0047619047927297466|      yes|           medium|         neutral| 71.13218390804597| 3.10603461E8|902917.0377906977|             344|
|       Cash|Electronic access...| 676396028|     a|   yangon|       Member|female|      6444|       5|  1611|  33831|20190330|1704| 3222|        1611|    66|          7|  17| 004761904976680857|      yes|           medium|         neutral| 69.24705882352941| 3.10603461E8|902917.0377906977|             344|
|       Cash|   Sports and travel| 816728853|     a|   yangon|       Member|female|      2793|       5| 69825|1466325|20190129|1548|13965|       69825|    59|          3|  15|0047619045760807714|       no|           medium|         neutral| 69.16265060240964| 3.10603461E8|902917.0377906977|             344|
|       Cash| Fashion accessories| 191106171|     b| mandalay|       Normal|female|      3962|       7| 13867| 291207|20190125|1318|27734|       13867|    75|          6|  13|0047619046215518296|      yes|           medium|        positive| 70.29213483146067| 3.10603461E8|902917.0377906977|             344|
|Credit card|  Home and lifestyle| 144516085|     a|   yangon|       Member|  male|      7074|       4| 14148| 297108|20190105|1605|28296|       14148|    44|          7|  16|0047619046549095156|       no|           medium|         neutral|            68.375| 2.70194988E8|868794.1736334405|             311|
|Credit card| Fashion accessories| 261128671|     b| mandalay|       Normal|female|      6096|       2|  6096| 128016|20190125|1939|12192|        6096|    49|          6|  19|0047619046732184644|       no|           medium|         neutral| 70.29213483146067| 2.70194988E8|868794.1736334405|             311|
|       Cash|   Health and beauty| 133147229|     c|naypyitaw|       Normal|  male|      6287|       2|  6287| 132027|20190101|1143|12574|        6287|    50|          3|  11| 004761905157467979|       no|           medium|         neutral| 70.03289473684211| 3.10603461E8|902917.0377906977|             344|
|    Ewallet|  Food and beverages| 832516761|     a|   yangon|       Normal|  male|      3388|       8| 13552| 284592|20190119|2029|27104|       13552|    96|          7|  20|0047619046023322474|       no|           medium|        positive| 71.13218390804597| 2.96273397E8|858763.4695652174|             345|
|    Ewallet|   Sports and travel| 852822749|     a|   yangon|       Normal|  male|      6459|       4| 12918| 271278|20190106|1335|25836|       12918|    93|          1|  13|0047619045777602086|      yes|           medium|        positive| 69.16265060240964| 2.96273397E8|858763.4695652174|             345|
|Credit card|  Food and beverages| 544325024|     c|naypyitaw|       Member|female|      4979|       4|  9958| 209118|20190328|1916|19916|        9958|    64|          5|  19| 004761904935636582|       no|           medium|         neutral| 71.13218390804597| 2.70194988E8|868794.1736334405|             311|
|Credit card|   Health and beauty| 188550967|     b| mandalay|       Member|  male|      6647|      10| 33235| 697935|20190115|1501| 6647|       33235|    50|          3|  15| 004761904866013168|       no|             high|         neutral| 70.03289473684211| 2.70194988E8|868794.1736334405|             311|
|    Ewallet|Electronic access...| 183213799|     c|naypyitaw|       Normal|female|      7763|       9|349335|7336035|20190219|1514|69867|      349335|    72|          3|  15| 004761904440003461|       no|             high|        positive| 69.24705882352941| 2.96273397E8|858763.4695652174|             345|
|Credit card|  Food and beverages| 787560757|     c|naypyitaw|       Member|female|      8036|       4| 16072| 337512|20190223|1845|32144|       16072|    83|          7|  18| 004761905004099156|      yes|           medium|        positive| 71.13218390804597| 2.70194988E8|868794.1736334405|             311|
|       Cash|  Food and beverages| 213726612|     a|   yangon|       Normal|  male|      4325|       2|  4325|  90825|20190320|1556|  865|        4325|    62|          4|  15|0047619047119041406|       no|              low|         neutral| 71.13218390804597| 3.10603461E8|902917.0377906977|             344|
|       Cash| Fashion accessories| 484228230|     c|naypyitaw|       Member|female|      5189|       7|181615|3813915|20190108|2008|36323|      181615|    45|          3|  20| 004761904880976796|       no|           medium|         neutral| 70.29213483146067| 3.10603461E8|902917.0377906977|             344|
|       Cash|Electronic access...| 528875606|     b| mandalay|       Member|female|      3948|       1|  1974|  41454|20190212|1943| 3948|        1974|    65|          3|  19|0047619048714552616|       no|              low|         neutral| 69.24705882352941| 3.10603461E8|902917.0377906977|             344|
|    Ewallet|   Sports and travel| 182527000|     a|   yangon|       Member|female|      2704|       4|  5408| 113568|20190101|2026|10816|        5408|    69|          3|  20|  00476190472191721|       no|           medium|         neutral| 69.16265060240964| 2.96273397E8|858763.4695652174|             345|
|    Ewallet|  Home and lifestyle| 775721988|     b| mandalay|       Normal|  male|      7328|       5|  1832|  38472|20190124|1505| 3664|        1832|    84|          5|  15| 004761904667471278|       no|           medium|        positive|            68.375| 2.96273397E8|858763.4695652174|             345|
+-----------+--------------------+----------+------+---------+-------------+------+----------+--------+------+-------+--------+----+-----+------------+------+-----------+----+-------------------+---------+-----------------+----------------+------------------+-------------+-----------------+----------------+
only showing top 20 rows

In [ ]:


from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df.write.csv("/content/drive/My Drive/transformed_supermarket_sales", header=True, mode="overwrite")